main {
  font-family: Georgia, sans-serif;
  width: 920px;
  padding: 10px;
  border-radius 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

nav ul, nav li {
  list-style-type: none;
  display: inline-block;
}