<!DOCTYPE html>
<html>
  <head>
    <title>RailsCheckpointChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <h1>Concerts Website</h1>
      <!--render partial here-->
      <%= yield %>
    </main>
  </body>
</html>
